* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 300;
    max-width: 1200px;
}

.container {
    color: whitesmoke;
    width: 30vw;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(95, 158, 160, 0.6);
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.timer-display {
    width: 100%;
    background: rgba(136, 0, 255, 0.461);
    padding: 40px 0;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 2.6em;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.laps {
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.7rem;
    margin-top: 30px;
}

.action {
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.action button {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    border: none;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
    background-color: rgba(104, 95, 160, 0.6);
    color: whitesmoke;
    padding: 7px 17px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container footer{
color: black;
font-weight: 100;
font-size: 1.2rem;
display: flex;
justify-content: center;
align-items: center;
margin-top: 3rem;
margin-bottom: 0;
}

@media only screen and (max-width: 580px) {
    .container {
        min-width: 70vw;
    }

    .timer-display {
        width: 100%;
        background: rgba(136, 0, 255, 0.461);
        padding: 30px 0;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        font-size: 2em;
        border-radius: 10px 10px 0 0;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .laps {
        text-align: center;
        color: whitesmoke;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 1.4rem;
        margin-top: 30px;
    }

    .action button {
        padding: 10px 20px;
        min-width: 40px;
        height: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        background-color: whitesmoke;
        color: black;
        border: none;
        font-family: "Mochiy Pop P One", sans-serif;
        font-size: 0.75em;
        font-weight: 200;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    button:hover {
        background-color: rgba(104, 95, 160, 0.6);
        color: whitesmoke;
        padding: 7px 17px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
    .container footer{
        color: black;
        font-weight: 100;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 0;
        }

}

@media only screen and (max-width: 500px) {
    .container {
        min-width: 300px;
    }

    .timer-display {
        width: 100%;
        background: rgba(136, 0, 255, 0.461);
        padding: 30px 0;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        border-radius: 10px 10px 0 0;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .laps {
        text-align: center;
        color: whitesmoke;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 1.2rem;
        margin-top: 30px;
    }

    .action {
        width: 80%;
        height: 100px;
        margin: 50px 10px 60px 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .action button {
        /* margin: 10px 5px 10px 5px; */
        column-gap: 200px;
        padding: 20px 30px 20px 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        min-width: 40px;
        height: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        color: black;
        border: none;
        font-family: "Mochiy Pop P One", sans-serif;
        font-size: 10px;
        font-weight: 200;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    button:hover {
        background-color: rgba(104, 95, 160, 0.6);
        color: whitesmoke;
        padding: 7px 17px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .container footer{
        color: black;
        font-weight: 100;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 0;
        }

}

@media (max-width: 380px) {
    .container {
        min-width: 250px;
    }

    .timer-display {
        width: 100%;
        background: rgba(136, 0, 255, 0.461);
        padding: 25px 0;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        border-radius: 10px 10px 0 0;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .laps {
        text-align: center;
        color: whitesmoke;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 15px;
        margin-top: 30px;
    }

    .action {
        width: 80%;
        height: 100px;
        margin: 40px 20px 60px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .action button {
        margin: 5px 0 5px 5px;
        padding: 10px 20px 10px 20px;
        justify-content: center;
        display: flex;
        align-items: center;
        min-width: 50px;
        /* height: 40px; */
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        color: black;
        border: none;
        font-family: "Mochiy Pop P One", sans-serif;
        font-size: 8px;
        font-weight: 200;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    button:hover {
        background-color: rgba(104, 95, 160, 0.6);
        color: whitesmoke;
        padding: 7px 17px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .container footer{
        color: black;
        font-weight: 100;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 0;
        }

}